<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">  
<link rel="stylesheet" href="style.css">
<title> CSS Login Screen Tutorial </title>
<script>   
function welcome()
{

if(form.userid.value == "f&g" && form.pwd.value == "f&g")
{
	return true;
}
else
{
	alert("Error Password or Username")
	return false;
}
} 
</script>  
</head>
<body>
  <body>
    <div class="login-page">
      <div class="form">
        <div class="login">
          <div class="login-header">
            <h3>Order Management System</h3>
            <p>Please enter your credentials to login.</p>
          </div>
        </div>
		 <form method="POST" action="Order by customer.html" class="login-form"> 
        
          <input type="text" placeholder="username" required />
          <input type="password" placeholder="password" required />
          <button onclick="welcome()">Login </button>   
		 
        </form>


      </div>
    </div>
	
</body>
</body>
</html>