<!DOCTYPE html>
<html>

<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="style.css">
	<title>Order Management System</title>
	
</head>

<body>

	<body>
		<div class="login-page">
			<div class="form">
				<div class="login">
					<div class="login-header">
						<h3>Order Management System</h3>
						<p>Please enter your credentials to login.</p>
					</div>
				</div>
				<form method="POST" action="api/order/login" class="login-form">
					<input type="text" placeholder="username" required id="customerName" name="customerName" />
					 <input type="password" placeholder="password" required id="password" name="password" />
					<button>Login</button>

				</form>


			</div>
		</div>

	</body>
</body>

</html>